<div class="flex flex-column p-2">

  <h3>Buscador de Hoteles</h3>

  <mat-form-field>
      <mat-label>Buscador</mat-label>
      <input
      type="text"
      matInput
      [formControl]="searchInput"
      (input)="searchHotel()"
      [matAutocomplete]="auto"
      />

  <mat-autocomplete autoActiveFirstOption
  #auto="matAutocomplete"
  (optionSelected)="onSelectedOption( $event )"
  >
  <mat-option *ngFor="let hotel of hoteles" [value]="hotel">
      {{ hotel.nombre}}
  </mat-option>

  <mat-option
  *ngIf="hoteles.length === 0 && searchInput.value && searchInput.value.length>0"
  value="">
  No se encontro nada con el termino {{searchInput.value}}
</mat-option>
 <!--{{ searchInput.value | json}}
  {{searchInput.touched | json}}
  {{searchInput.pristine | json}}-->
</mat-autocomplete>
</mat-form-field>
{{ selectedHotel | json}}
</div>
