<mat-card>
  <mat-card-header>
    <mat-card-title> {{ agencia.nombre }} </mat-card-title>
  </mat-card-header>

  <img mat-card-image [src]="agencia | agenciaImage" [alt]="agencia.nombre">


  <mat-card-content class="mt-2">
    <h4> {{ agencia.tipo }} </h4>
    <p>
      <strong>Ubicación:</strong> {{ agencia.ubicacion }}
      <br>
      <strong>Dirección:</strong> {{ agencia.direccion }}
      <mat-chip-listbox>
        <mat-chip *ngFor="let name of
        agencia.nombre.split(',') | slice:0:3">
        {{ name }}
        </mat-chip>
      </mat-chip-listbox>
    </p>

  </mat-card-content>

  <mat-divider></mat-divider>
  <mat-card-actions>
    <button mat-button
    mat-raised
    color="primary"
    [routerLink]="['/administrador/editarage/',agencia.id]">
    <mat-icon>edit</mat-icon>
    Editar
    </button>
    <span class="spacer"></span>
    <button mat-button
    mat-raised
    [routerLink]="['/administrador/agencias',agencia.id]">
    <mat-icon>more_horiz</mat-icon>
    Más
    </button>
  </mat-card-actions>
</mat-card>
