<mat-card>
  <mat-card-header>
    <mat-card-title> {{ atractivo.nombre }} </mat-card-title>
  </mat-card-header>

  <img mat-card-image [src]="atractivo | atractivoImage" [alt]="atractivo.nombre">


  <mat-card-content class="mt-2">
    <h4> {{ atractivo.localizacion }} </h4>
    <p>
      <strong>Descripción</strong> {{ atractivo.descripcion }}
      <br>
      <mat-chip-listbox>
        <mat-chip *ngFor="let name of
        atractivo.nombre.split(',') | slice:0:3">
        {{ name }}
        </mat-chip>
      </mat-chip-listbox>
    </p>

  </mat-card-content>

  <mat-divider></mat-divider>
  <mat-card-actions>
    <span class="spacer"></span>
    <button mat-button
    mat-raised
    [routerLink]="['/auth/atractivos',atractivo.id]">
    <mat-icon>more_horiz</mat-icon>
    Más
    </button>
  </mat-card-actions>
</mat-card>
